In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("CarPrice_Assignment.csv")
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
df["fueltype"].replace({"gas":1, "diesel":0}, inplace=True)

In [5]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,1,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,1,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,1,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),1,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,1,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,1,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,0,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,1,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [6]:
df["drivewheel"].replace({"rwd":1, "4wd":0, "fwd":2}, inplace=True)

In [7]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,1,std,two,convertible,1,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,1,std,two,convertible,1,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,1,std,two,hatchback,1,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,1,std,four,sedan,2,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,1,std,four,sedan,0,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),1,std,four,sedan,1,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,1,turbo,four,sedan,1,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,1,std,four,sedan,1,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,0,turbo,four,sedan,1,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,1,turbo,four,sedan,1,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [8]:
df.isnull().value_counts()

car_ID  symboling  CarName  fueltype  aspiration  doornumber  carbody  drivewheel  enginelocation  wheelbase  carlength  carwidth  carheight  curbweight  enginetype  cylindernumber  enginesize  fuelsystem  boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  highwaympg  price
False   False      False    False     False       False       False    False       False           False      False      False     False      False       False       False           False       False       False      False   False             False       False    False    False       False    205
dtype: int64

In [9]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [10]:
df["enginelocation"].unique()

array(['front', 'rear'], dtype=object)

In [11]:
df["enginelocation"].replace({"front":1, "rear":0}, inplace=True)

In [12]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,1,std,two,convertible,1,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,1,std,two,convertible,1,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,1,std,two,hatchback,1,1,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,1,std,four,sedan,2,1,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,1,std,four,sedan,0,1,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),1,std,four,sedan,1,1,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,1,turbo,four,sedan,1,1,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,1,std,four,sedan,1,1,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,0,turbo,four,sedan,1,1,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,1,turbo,four,sedan,1,1,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [13]:
#independent variable 
x=df[['boreratio', 'stroke','compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg','fueltype','drivewheel','enginelocation',]]

#dependent variable
y=df["price"]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3, random_state=1)

In [16]:
x_test.index

Int64Index([ 78,  97, 151,  44,  40,  67,  98,  18, 152,  62,   4, 172, 197,
             38,  29, 170, 190,  33, 136, 145, 173,  31,  11, 119, 169,  34,
             84, 184, 120,  35, 163,  28,  16, 130, 116, 182,  27,  47,  58,
            204, 138, 106,  90, 147, 185,  95,  73,  51, 117, 103,  69, 107,
             14, 162,  59,  19, 177,  39, 110, 164,  56, 176],
           dtype='int64')

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lin=LinearRegression()

In [19]:
lin.fit(x_train,y_train)

LinearRegression()

In [20]:
p=lin.predict(x_test)
p

array([ 5163.26990417,  6341.05384215,  5682.91778481,  4207.34813204,
        8065.74448906, 23639.26977033,  6341.05384215, -1418.19599198,
        5682.91778481,  9973.74392953, 15804.36515272, 14935.59018503,
       14242.36026508,  8065.74448906, 18229.67739779, 14935.59018503,
       10367.67192485,  6741.08131108, 19355.07676089, 13486.70869644,
       11962.20903693,  4827.90956785, 10731.28093152, 10661.1371417 ,
       14935.59018503,  6741.08131108, 18232.9371033 ,  7379.13471685,
        5163.26990417,  6741.08131108,  8352.16899345, 10670.68097981,
       23026.36010191, 10118.86622651, 17059.168765  ,  7379.13471685,
       10661.1371417 , 25485.57350192, 17022.09339765, 15029.64351897,
        6596.88757131, 20851.44853561,  5991.5285967 , 10522.1628136 ,
        8676.10902309,  6341.05384215, 28016.64291879,  5948.0918055 ,
       16275.16401728, 19799.93600011, 23639.26977033, 13922.03316463,
       18819.97093783,  8084.82666526,  9973.74392953,  4207.34813204,
       12690.23177201,  8065.74448906, 20733.1368271 ,  8352.16899345,
       13194.14988743, 12690.23177201])

In [21]:
d=pd.DataFrame({"Predicted":p, "Actual":y_test})
d

        Predicted   Actual
78    5163.269904   6669.0
97    6341.053842   7999.0
151   5682.917785   6338.0
44    4207.348132   8916.5
40    8065.744489  10295.0
..            ...      ...
39    8065.744489   8845.0
110  20733.136827  13860.0
164   8352.168993   8238.0
56   13194.149887  11845.0
176  12690.231772  10898.0

[62 rows x 2 columns]

In [22]:
from sklearn.metrics import r2_score

In [23]:
r2_score(y_test,p)

0.7223786762828281

In [24]:
x_test.head(1)

,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,fueltype,drivewheel,enginelocation
78,2.97,3.23,9.4,68,5500,31,38,1,2,1

In [26]:
a=int(input("enter boreratio: "))
b=int(input("enter stoke: "))
c=int(input("enter compressionratio: "))
j=int(input("enter horsepower: "))
d=int(input("enter peakrpm: "))
e=int(input("enter citympg: "))
f=int(input("enter highwaympg: "))
g=int(input("enter fueltype: "))
h=int(input("enter drivewheel: "))
i=int(input("enter enginelocation: "))

lin.predict([[a,b,c,j,d,e,f,g,h,i]])

enter boreratio: 3
enter stoke: 32
enter compressionratio: 34
enter horsepower: 343
enter peakrpm: 3
enter citympg: 4
enter highwaympg: 24
enter fueltype: 4
enter drivewheel: 34
enter enginelocation: 24

array([-139656.79703079])